:root {
   /*--clr-primary-100: #fdfffc;
    --clr-primary-400: #86AC41;
    --clr-primary-900:#7da3a1;


    --clr-neutral-100:#324851;
    --clr-neutral-900: #34675c; */

    --clr-primary-100: #fdfffc;
    --clr-primary-400: #6a994e;
    --clr-primary-900: #e0e1dd;


    --clr-neutral-100: #6b7a8f;
    --clr-neutral-900: #a7c957; 
}


*, *::before, *::after {box-sizing: border-box;}
html {
    background-color: var(--clr-primary-100);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.4rem;
    font-size: medium;
    letter-spacing: 0.1rem;
}

.wrapper {
    width: min(90%, 70rem);
    margin-inline: auto;
    text-align: center;
    padding: 1rem;
}

section {
    padding-block: 6rem;
    text-align: center;
    background-color: var(--clr-primary-100);
    display: grid;
}

.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(images/hlavniImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    padding-block: 20rem;
    animation: change 15s infinite ease-in-out;
}

@keyframes change{
    0%{
        background-image: url(images/hlavniImage.png);
    }
    20%{
        background-image: url(images/tulipany.jpg);
    }
    40%{
        background-image: url(images/zelenestromy.jpg);
    }
    60%{
        background-image: url(images/bazenoriginal.jpg);
    }
    80%{
        background-image: url(images/skalka.jpg);
    }
    100%{
        background-image: url(images/hand_big_size.jpg);
    }
}

.content h1 {
    color: var(--clr-primary-100);
    font-size: 8rem;
    padding-top: 5rem;
    font-family: 'Parisienne', cursive; 
    text-shadow: 5px 5px 10px #2D2D2C;
}

.background-image {
    background-image: url(images/namesti.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-image p {
    color: black;
    font-weight: bold;
}

#glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.cell {
    width: 33%;
    height: 600px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
}

.cell img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
/* Navigation starts here */
.nav {
    padding-top: 0;
}

nav {
    display: grid;
    justify-content: space-evenly;
    background-color: var(--clr-primary-400);
    padding-block: 2rem;
    text-align: center;
}


li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline;
    padding-inline: 2rem;
    padding-block: 2.15rem;
    background-color: var(--clr-primary-400);
}

nav a {
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

nav li:hover {
    background-color: var(--clr-primary-100);
}

.even-columns {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 2rem;
}

@media (min-width: 50rem) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

/* Typography starts here */
img {
   max-width: 100%;
    display: block;
}

h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: bolder;
    color: var(--clr-primary-400);
    padding: 2rem;
}

h3 {
    padding: 1.5rem;
    color: #324851;
}

p {
    text-align: left;
    font-weight: 400;
    font-size: 1.15rem;
    padding: 1rem;
    margin-block: 1.5rem;
    line-height: 2rem;
    color: #324851;
}

/* button style starts here */
.button {
    cursor: pointer;
    margin: 5rem;
    padding: 1rem 5rem 1rem 5rem;
    border: 1px var(--clr-neutral-900);
    border-radius: 30px;
    background-color: var(--clr-neutral-900);
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    box-shadow: 0 1em 1em -1em black;
}

.button:hover,
.button:focus-visible {
    background-color: olivedrab;
}

.contact-button {
    cursor: pointer;
    padding: 1rem 5rem 1rem 5rem;
    border: 1px, var(--clr-primary-100);
    border-radius: 30px;
    background-color: var(--clr-primary-100);
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    box-shadow: 0 1em 1em -1em black;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.contact-button:hover,
.contact-button:focus-visible {
    background-color: olivedrab;
}


.contact {
    background-color: var(--clr-primary-900);
}

footer {
    background-color:var(--clr-primary-400);
    color: var(--clr-primary-100);
    padding: 5rem;
}
